.jumbotron {
	border-radius: 10px 10px 10px 10px;
	background-color: #1C1A59;
	color: white;
	text-align: center;
}

header {	
	color: white;
	background-color: #1C1A59;
	border-radius: 7px 7px 0px 0px;
	font-size: 18px;
}

section {
	margin-top: 30px;
	border: 2px solid #1C1A59; 
	border-radius: 10px 10px 10px 10px;
}

button:hover {
	background-color: #575594;
}

#train-table {
	margin-top: 10px;
}
#name-text {
	margin-top: 10px;
}

#submit-button {
	margin-bottom: 20px;
}
